@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.case {
    cursor: pointer;
    display: inline-block;
    width: 225px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 20px;
}

.case ul:first-child ul{
    margin-top: 15px;
    padding-left: 24px;
}

.case ul:first-child ul li {
    font-size: 9px;
    font-weight: bold;
}

.case ul:first-child{
    list-style: none;
    padding:0;
}

.case ul:first-child span{
    display:block;
    margin:0 auto;
    text-decoration: underline;
    text-align: center;
}

.case span.add {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.case div.add-symbol {
    border-radius: 10px;
    margin: 20px 50px;
}
.case div.add-symbol span {
    font-size: 170px;
    display: block;
    text-align: center;
}

