object {
    width: 100%;
}

form {
    height:100%;
    margin:0;
}

fieldset{
    height:100%;
    box-sizing: border-box;
}

/*popup module*/
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal{
    display: none; /* Hidden by default */
    position: absolute;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    width: 100%;
    height: 100%;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 650px;
    position: relative;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position:absolute;
    top:0;
    right:15px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
