.node {
    cursor: pointer;
}

.node.selected .node-transaction {
  stroke-width: 3px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.node.node-green circle {
    stroke: green;
}

.node.node-yellow circle {
    stroke: red;
}