@import url('https://fonts.googleapis.com/css?family=Roboto');
.timeline-controls-container {
    display: none;
}
.highlight {
    background-color: yellow;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe;
}

svg {
    width: 100%;
    height: 100%;
}

.main-wrapper {
    display: table;
    table-layout:fixed;
    width:100%;
    height:100%;
}
.main-wrapper .left-side {
    width:250px;
    padding: 20px 20px 0 20px;
    border-right: 3px solid #ccc;
}
.main-wrapper .left-side .case-name {
    text-decoration: underline;
}
.main-wrapper .left-side, .main-wrapper .right-side {
    display: table-cell;
    vertical-align: top;
}

h3.header {
    text-align: center;
    margin: 6px 0;
}

ul.addresses li{
    font-size: 11px;
}

ul.addresses-case{
    padding-left: 20px;
}

ul.views {
    margin:0;
    padding:0;
    list-style: none;
}

ul.views li {
    padding: 15px;
}

ul.views li.selected {
    border:solid 2px blue;
}

ul.transactions {
    border-top: 2px solid #ccc;
    height: 360px;
    overflow-y: scroll;
    list-style: none;
    padding:0;
    margin:0;
}
ul.transactions td {
    font-size: 12px;
    vertical-align: top;
}
ul.transactions li {
    border-bottom: 1px solid black;
    background-color: #f7f7f7;
}

ul.transactions li:first-child {
    border-top: 0;
}

ul.transactions li.selected {
    background: rgb(242,246,248);
}

ul.transactions li tr:not(:first-child) td:first-child span{
    text-align: right
}
ul.transactions table {
    width: 100%;
}
ul.transactions .transaction-header {
    padding: 10px;
    text-align: center;
}
ul.transactions .transaction-movment {
    text-align: center;
}
ul.transactions .transaction-from, ul.transactions .transaction-to {
    width: 45%;
}
ul.transactions .transaction-to {
    position: relative;
}
ul.transactions .transaction-to .transaction-value {
    position: absolute;
    left: 250px;
}
ul.transactions .transaction-from p {
   text-align: right;
}
ul.transactions .transaction-value {
    float: right;
    padding-left: 15px;
}


#network{
    height: 230px;
}
.network-tooltip {
    position: absolute;
    pointer-events: none;
    position: absolute;			
    text-align: center;							
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;		
}

.node-transaction{
    stroke: steelblue;
    stroke-width: 1px;
}

.node-transaction.selected{
    stroke-width: 2px;
}
